@font-face {
    font-family: SourceCodePro;
    src: url(SourceCodePro-Bold.otf);
}

body {
    font-size: 32px;
    font-family: SourceCodePro;
}

#structure {
    height: 100vh;
    width: 15vw;
    top: 0px;
    left: 0px;
    font-size: 24px;
    color: #888888;
    background-color: lightcoral;
}

#pres3D {
    height: 100vh;
    width: 33vw;
    top: 0px;
    right: 0px;
}

#slides {
    height: 100vh;
    width: 52vw;
    top: 0px;
    left: 15vw;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: lightcoral;
}

.title {
    position: relative;
    margin: 5vw;
    font-size: 48px;
    text-align: center;
}

.text {
    margin: 5vw;
    text-align: justify;
}

.slideNum {
    position: fixed;
    width: 10vw;
    bottom: 1.25vw;
    right: 5vw;
    text-align: right;
    z-index: 5;
}

.structure {
    margin-bottom: 1vw;
}
